# .env

# Server configuration
SERVER_HOST=localhost
SERVER_PORT=8080
ALLOWED_ORIGINS=localhost,example.com  # List of allowed origins, separated by commas
PING_INTERVAL=20  # Interval in seconds for ping
PING_TIMEOUT=20   # Timeout in seconds for ping

# Logging configuration
LOG_LEVEL=INFO  # Log level (DEBUG, INFO, WARNING, ERROR, CRITICAL)
